@import "~bootstrap/scss/bootstrap";

div.main-wrapper {
  background-color: white;

  height: 100vh;
}

main {
  @extend .container;

  display: flex;

  section {
    flex: 2;
    display: flex;
    flex-direction: column;

    nav {
      height: 64px;
      background-color: #e6e6e6;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 16px;
    }

    div.chat {
      flex-grow: 1;
      background-color: #cdcdcd;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      article {
        max-width: 256px;
        background-color: white;
        border-radius: 11px;
        margin: 4px 8px;
        padding: 8px;

        &:last-child {
          margin: 4px 8px 8px 8px;
        }

        &.left {
          border-bottom-left-radius: 0;
        }

        &.right {
          margin-left: auto;
          border-bottom-right-radius: 0;
        }

      }
    }

    div.message-bar {
      height: 64px;
      display: flex;
      align-items: center;

      input {
        @extend .form-control;

        flex: 1;
      }

      img {
        min-width: 32px;
        min-height: 32px;
        background-color: silver;
        margin: 4px;
      }

      img.add-image {

      }

      img.send-message {

      }

      img.call {

      }
    }
  }

  aside {
    flex: 1;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      min-height: 128px;
      min-width: 128px;
      background-color: silver;
      border-radius: 50%;
    }

    small {
      padding: 32px;
    }

    div.contacts {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      div.contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;

        img {
          min-height: 32px;
          min-width: 32px;
          background-color: silver;
          margin-right: 8px;
        }
      }
    }

    .profile {
      width: 80%;
      margin: 8px 32px;
    }

  }
}
