<div class="main-wrapper">
  <main>
    <section>
      <nav>
        <h3>Анна Дзюба</h3>
      </nav>

      <div class="chat">
        <article class="left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </article>

        <article class="right">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </article>
      </div>

      <div class="message-bar">
        <img class="add-image" src="" alt="">
        <input type="text" placeholder="Введіть повідомлення...">
        <img class="send-message" src="" alt="">
        <img class="call" src="" alt="">
      </div>

    </section>

    <aside>
      <img src="" alt="">
      <h2>Анна Дзюба</h2>
      <span class="text-muted">сімейний психолог</span>
      <small class="text-muted">
        Готова допомоготи в разі складної  ситуації
        у ваших відносинах, пам’ятайте що все зале-
        жить тільки від вас обоих!
      </small>
      <div class="contacts">
        <div class="contact">
          <img src="" alt="">
          <a>Cherkassy</a>
        </div>
        <div class="contact">
          <img src="" alt="">
          <a href="mailto:anna.dzuba@gmail.com">anna.dzuba@gmail.com</a>
        </div>
        <div class="contact">
          <img src="" alt="">
          <a href="tel:+380930000000">+380(93)000-00-00</a>
        </div>
      </div>
      <a routerLink="/profile" class="btn btn-success profile">Профіль</a>

    </aside>
  </main>
</div>
