<div class="main-wrapper">
  <main>
    <section>
      <nav>
        <h3>Анна Дзюба •</h3>
        <div class="call">
          <img class="send-message" src="../../../assets/icons/number.png" alt="" height="32" width="32">
          <img class="call" src="../../../assets/icons/camera.png" alt="" height="32" width="32">
        </div>
      </nav>

      <div class="chat">
        <article class="left" *ngFor="let message of messages$">
          {{ message.title }}
        </article>
      </div>

      <div class="message-bar">
        <img class="add-image" src="../../../assets/icons/pin.png" alt="" height="16" width="16">
        <input type="text" placeholder="Введіть повідомлення..." (keydown)="enterHandler($event)">
      </div>

    </section>

    <aside>
      <img src="../../../assets/icons/psih.png" alt="">
      <h2>Анна Дзюба</h2>
      <span class="text-muted">сімейний психолог</span>
      <small class="text-muted">
        Готова допомоготи в разі складної  ситуації
        у ваших відносинах, пам’ятайте що все зале-
        жить тільки від вас обоих!
      </small>
      <div class="contacts text-muted">
        <div class="contact">
          <img src="" alt="">
          <a>Cherkassy</a>
        </div>
        <div class="contact">
          <img src="" alt="">
          <!--<a href="mailto:anna.dzuba@gmail.com">anna.dzuba@gmail.com</a>-->
          <a>anna.dzuba@gmail.com</a>
        </div>
        <div class="contact">
          <img src="" alt="">
          <!--<a href="tel:+380930000000">+380(93)000-00-00</a>-->
          <a>+380(93)000-00-00</a>
        </div>
      </div>
      <a routerLink="/profile" class="btn btn-success profile">Профіль</a>

    </aside>
  </main>
</div>
