<main>

  <header>
    <img src="../../../assets/icons/LOGO%20(1).png" alt="" height="85" width="86">
  </header>

  <section class="form">
    <aside class="image">

    </aside>
    <form>
      <h2>{{ 'The last step is left' | translate }}</h2>

      <label>Стать</label>
      <br>
      <div class="form-check form-check-inline">
        <input id="male" type="radio" class="form-check-input" name="sex">
        <label for="male" class="form-check-label">{{ 'Man' | translate }}</label>
      </div>

      <div class="form-check form-check-inline">
        <input id="female" type="radio" class="form-check-input" name="sex">
        <label for="female" class="form-check-label">{{ 'Woman' | translate }}</label>
      </div>
      <br>

      <div class="form-group">
        <label for="years">{{ 'Age' | translate }}</label>
        <input type="number" id="years" class="form-control" value="2019" max="2100">
      </div>

      <h2>{{ 'Categories' | translate }}</h2>
      <div class="category-wrapper">
        <div class="category">
          <app-category-card
            *ngFor="let category of categories"
            [image]="category.url"
            [title]="category.name | translate"
            [active]="isCategorySelected(category)"
            (click)="toggleCategory(category)">

          </app-category-card>
        </div>
      </div>


      <div class="action">
        <button class="btn btn-success" type="button" routerLink="/chat">{{ 'Start the conversation' | translate }}</button>
      </div>

    </form>
  </section>

</main>
