@import "~bootstrap/scss/bootstrap";

main {
  @extend .container;

  header {
    margin: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    section.i18n {
      color: white;

      ul {
        display: flex;
        list-style: none;
        padding-left: 0;

        li {
          margin-left: 1em;
        }
      }

    }
  }
}
