@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/buttons";

.background-image {
  background-image: url('../../../assets/land.png');
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

main {
  @extend .container;
  color: white;

  header {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    section.i18n {
      color: #2B0707;
      padding-right: 64px;

      ul {
        display: flex;
        list-style: none;
        padding-left: 0;

        li {
          margin-left: 1em;
          cursor: pointer;

          &:hover {
            color: #efefef;
          }
        }
      }

    }
  }

  section.title {

    font-family: Montserrat, sans-serif;
    margin-top: -116px;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      text-shadow: 0 0 0 5px black;
      font-size: 56pt;
      font-weight: bold;
    }

    span {
      font-family: Raleway, sans-serif;
      font-size: 14pt;
    }

    div.wrapper {
      a {
        @extend .btn, .btn-success;
        height: 56px;
        line-height: 38px;
        margin-top: 56px;
        border-radius: 11px;
        font-size: 11pt;
        width: 176px;
      }
    }
  }

  section.about {
    height: 100vh;
    font-family: Montserrat, sans-serif;

    h1 {
      padding: 140px 0 40px 0;
      box-sizing: content-box;
    }
  }


}
