<div class="background-image"></div>
<main>

  <header>

    <img src="../../../assets/icons/LOGO%20(1).png" alt="" height="85" width="86">

    <section class="i18n">
      <ul>
        <li (click)="selectLanguage('uk')">УКР</li>
        <li (click)="selectLanguage('ru')">РУС</li>
        <li (click)="selectLanguage('en')">ENG</li>
      </ul>
    </section>
  </header>

  <section class="title">
    <h1>{{ 'Place where you can be frank' | translate }}</h1>
    <span>{{ 'Help online, we are ready to provide you with advice from professional attorneys.' | translate }}</span>
    <span>{{ 'Support is always near!' | translate }}</span>
    <br>
    <div class="wrapper">
      <a routerLink="/category">{{ 'Start the conversation' | translate }}</a>
    </div>
  </section>

  <section class="about">
    <h1>{{ 'About project' | translate }}</h1>

    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12">
        <img src="a" alt="" width="156" height="156">
        <h3></h3>
        <span>Допомога онлайн, ми готові надати вам консультацію професійних психологів</span>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-12">
        <img src="a" alt="" width="156" height="156">
        <h3></h3>
        <span>Допомога онлайн, ми готові надати вам консультацію професійних психологів</span>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-12">
        <img src="a" alt="" width="156" height="156">
        <h3></h3>
        <span>Допомога онлайн, ми готові надати вам консультацію професійних психологів</span>
      </div>
    </div>

  </section>
  
</main>
